
<strong><%= @movie.title %></strong>
<br>
<br>
Cast:
<br>
<ul><% @movie.actors.each do |actor| %>
  <li><%=link_to actor.name, actor_path(actor) %><br></li>
    <% end %></ul>
<br>
Summary:<br><br>
<%= @movie.plot %>
<br>
<br>
Reviews:
<br><br>

<% if !@movie.reviews.empty? %>
  <ul>
    <% @movie.reviews.each do |review| %>
      <li><%= review.critic%>: <%= review.content%></li><br>
    <% end %>
  </ul>
<% else %>
  This movie doesn't have any reviews yet!
<% end %>
